@media screen and (max-width: 1920px) {
	#accordion, .more-about-paycard {
		display: none;
	}
}
@media screen and (max-width: 768px) {
	#accordion, .more-about-paycard {
		display: block;
	}

	.accord-tit {
	padding: 17px 12px;
	background-image: url(../img/down.png);
    background-repeat: no-repeat;
    background-position: right;
	margin-right: 12px;
	margin-top: 0px;
	margin-bottom: 0px;
	}

	.accord-header-panel {
		border-top: 1px solid #E8ECEF;
	}

	.accord-subtit {
		height: 0px;
		overflow: hidden;
		transition: all 0.5s ease-in;
	}

	.accord-open {
		transition: all 0.5s ease-in;
		height: 150px;
		margin: 0 0 20px 12px;
	}

	.accord-box {
		display: flex;
	}

	.imit-btn-box {
		flex-wrap: wrap;
		font-size: 13px;
	}

	.imit-btn {
		margin-bottom: 5px;
	}

	.analitics-accord {
		display: flex;
    	justify-content: space-between;
    	flex-wrap: wrap;
    	margin-right: 12px;
	}

	.analitics-box-accord {
		margin-bottom: 20px;
		margin-right: 20px;
	}

	h3 {
		font-family: 'Lato', sans-serif;
		font-size: 16px;
	}

	.analitics-box-accord p:first-child {
		font-size: 13px;
		color: #9299A2;
	}

	.analitics-text {
		font-size: 16px;
	}

	.more-about-paycard {
		text-align: center;
		padding: 10px 0;
		border-top: 1px solid #E8ECEF;
	}
	
}

@media screen and (max-width: 320px) {
	.accord-open {
		height: 200px;
	}
}