@media screen and (max-width: 1920px) {
	.button {
		width: 1200px;
		background: #FFFFFF;
		padding: 20px 0 19px;
	}
}

@media screen and (max-width: 768px) {
	.button {
		width: 700px;
	}
}

@media screen and (max-width: 1024px) {
	.button {
		width: 900px;
	}
}

@media screen and (max-width: 320px) {
	.button {
		width: 320px;
		height: 0px;
		padding: 0px;
	}
}
.button {
    margin: auto;
    box-shadow: 0px 4px 20px #EEF0F2;
	border-radius: 5px;
	display: flex;
	justify-content: center;
}

.button > button {
	width: 49px;
	height: 45px;
	background-color: #FFFFFF;
	border: 1px solid #DADEE2;
	border-radius: 3px 0px 0px 3px;
	outline: none;
}

.button .activ-btn {
	background-color: #AEB4BF;
	color: white;
}

.btn-left {
	background-image: url(../img/left.png);
	background-repeat: no-repeat;
	background-position: center;
}

.btn-right {
	background-image: url(../img/right.png);
	background-repeat: no-repeat;
	background-position: center;
}

.button > button:hover {
	border: 1px solid #333E50;
}