@media screen and (max-width: 1920px) {
    .header-box {
        width: 1200px;
        margin: auto;
    }

    h1 {
        margin: 19px 0 15px 0;
        font-size: 30px;
    }

    .header-box p {
        margin: 0 0 20px 0;
    }

    .open-more {
        visibility: hidden;
        height: 0;
    }
}
@media screen and (max-width: 1200px) {
    h1 {
        margin: 25px 15px 20px;
    }

    .header-box p {
        margin: 0 15px 20px;
    }

    .hidden-contener {
        width: 90%;
    }
}

@media screen and (max-width: 768px) { 
    .more-text {
        font-size: 14px;
        color: #388EC3;
    }

    .hidden-contener {
        width: 700px;
    }

    h1 {
        font-size: 26px;
    }

    .header-box p {
        font-size: 14px;
    }
}

@media screen and (max-width: 320px) {
    .open-more {
        visibility: visible;
        width: 102px;
        height: auto;
        display: flex;
        margin: 0 0 20px 15px;
        cursor: pointer;
    }

    .img-down {
        background-image: url(../img/down.png);
        background-repeat: no-repeat;
        background-position: right;
    }

    .img-up {
        background-image: url(../img/up.png);
        background-repeat: no-repeat;
        background-position: right;
    }

    .hidden-contener {
        transition: all 0.5s ease-out;
        width: 315px;
        height: 50px;
        overflow: hidden;
    }

    .hidden-open {
        height: 110px;
        transition: all 0.5s ease-in;
    }

}



.header {
    width: 100%;
    border-bottom: 1px solid #E8ECEF;
    display: flex;
}

h1, p, span {
    font-family: 'Lato', sans-serif;
}
.open-more span:active {
    color: #95CE5A;
}
