@media screen and (max-width: 1920px) {
    .card-contener {
        width: 1200px;
    }
    
    .content-about {
        padding-top: 10px;
    }
    
    .img-add {
        padding-right: 10px;
    }
    
    .box-two {
        padding: 10px 0;
    }

    .img-paycard {
        padding: 11px 30px 10px;
    }

    .analitics-box:not(:last-child) {
        margin-right: 150px;
    }

    .about {
        padding: 20px 30px 25px;
        border-bottom: 1px solid #E8ECEF;
    }

    .down-card {
        padding: 20px 30px;
    }

    .down-card-down {
        margin-right: 67px;
        margin-top: 23px;
    }

    .analitics, .down-card-up, .down-card-down {
        display: flex;
        justify-content: space-between;
    }

}
@media screen and (max-width: 1200px) {
    .card-contener {
        width: 900px;
    }

    .analitics-box:not(:last-child) {
        margin-right: 65px;
    }

}

@media screen and (max-width: 768px) { 
    .card-contener {
        width: 700px;
    }

    .content, .hidden-text, .icon-card, .analitics, .down-card-down, .content-tit, .content-about, .box, .analitics-box {
        visibility: hidden;
        height: 0px;
        width: 0px;
    }

    .up-card {
        flex-direction: column;
    }

    .about {
        padding: 20px 30px 0;
        border: none;
    }

    .title {
        text-align: center;
    }

    .flex-cont {
        justify-content: center;
    }

    .img-paycard {
        text-align: center;
    }

    .down-card {
        padding: 10px 15px 20px;
    }

    .down-card-down {
        margin-top: 0px;
    }

    .down-card-up {
        justify-content: center;
    }
}

@media screen and (max-width: 320px) {
    .card-contener {
        width: 320px;
    }

}

.card-contener {
    display: flex;
    flex-direction: column;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px #EEF0F2;
    border-radius: 5px;
    margin-bottom: 21px;
}

.img-card {
    border-bottom: 1px solid #E8ECEF;
}

.flex-cont, .box, .up-card, .imit-btn-box {
    display: flex;
}

.flex-cont p:last-child {
    padding-left: 20px;
}

.card-name {
    font-size: 18px;
    color: #388EC3;
}

.card-name:hover {
    color: #95CE5A;
}

.flex-cont p {
    font-size: 14px;
    color: #9299A2;
    padding-top: 5px;
}

.content {
    margin-top: 10px;
}

.show-more {
    color: #388EC3;
    background-image: url(../img/down.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 115px;
    margin-top: 10px;
}

.show-more:hover {
    color: #95CE5A;
}

.icon-card, .star {
    display: flex;
    justify-content: center;
}

.box-img {
    width: 26px;
    height: 26px;
    margin-top: 20px;
    text-align: center;
    line-height: 32px;
}

.small-text {
    font-size: 14px;
    color: #388EC3;
    padding-left: 5px;
}

.analitics-text {
    font-size: 18px;
    color: #333E50;
}

.bold {
    font-weight: bold;
}

.btn-normal {
    width: 212px;
    height: 45px;
    background-color: #95CE5A;
    box-shadow: 0px 5px 10px rgba(149, 206, 90, 0.4);
    border-radius: 5px;
    color: white;
    outline: none;
}

.btn-normal:hover {
    background-color: #8CC459;
    box-shadow: 0px 5px 10px rgba(149, 206, 90, 0.4);
    border: none;
    outline: none;
}

.btn-normal:active {
    background: #95CE5A;
    color: #333E50;
    border: 1px solid #333E50;
    box-shadow: 0px 5px 10px rgba(149, 206, 90, 0.4);
    outline: none;
}

.imit-btn {
    background: #FFFFFF;
    border: 1px solid #DADEE2;
    border-radius: 50px;
    margin-right: 5px;
}

.imit-btn:hover {
    background: #FF8066;
    color: white;
    border: 1px solid #FF8066;
}

.imit-btn > p {
    line-height: 26px;
    padding: 0 15px;
}