@media screen and (max-width: 1920px) {
    .header-body {
        width: 1200px;
        justify-content: space-between;
        padding: 20px 0 22px;
    }
}

@media screen and (max-width: 1200px) {
    .header-body {
        width: 900px;
    }
}

@media screen and (max-width: 768px) {
    .header-body {
        width: 700px;
        flex-direction: column;
        padding: 20px 16px 22px;
    }

    .between-body {
        flex-direction: column;
    }

    .btn-sort {
        padding-top: 10px;
    }
}

@media screen and (max-width: 320px) {
    .header-body {
        width: 288px;
    }
}

main {
    background-color: #E5E5E5;
    padding-bottom: 60px ;
}

.header-body {
    display: flex;
    margin: auto;
}

.between-body, .btn-sort {
    display: flex;
}

.header-body, .between-body, .analitics, .down-card-down {
    font-size: 13px;
    color: #ADB4BF;
}

.date {
    margin-right: 30px;
}